extends layout

block content

  h1= error.message
  h2= error.status
  pre= error.stack
=======
extends layout

block content

  h1= error.message
  h2= error.status
  pre= error.stack
>>>>>>> 0f9b419ebbba4365c18636c61ce7e5fbfb8174bf
